.wrapper
  = render "shared/side_bar" 
  .chat-main
    .main-header
      .main-header_left-box
        .main-header_left-box_current-group
          = @group.name
        .main-header_left-box_member-list 
          Member :
          = @group.users.pluck(:name).join(",")
      .main-header_edit-btn
        = link_to "Edit", edit_group_path(@group)
    .messages
      = render partial: "devise/shared/message", collection: @messages
    .form
      .new_message
        .input-box
          = form_for [@group, @message] do |f|
            = f.text_field :content, placeholder: 'type a message'
            .input-box_image
              = f.label :image do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'image'
            = f.submit 'Send', class: 'sentbtn' 